<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Node JS Quiz Questions">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Daniel P">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Quiz</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <header>
        <div class="header_title_wrapper">
            <a href="index.html">
                <img src="images/node_logo.webp" class="header_logo">
            </a>
            <h1 class="header_title">Node.JS</h1>
        </div>

        <nav>
            <a href="index.html">Home</a>
            <a href="topic.html">Topic</a>
            <a href="quiz.html">Quiz</a>
            <a href="enhancements.html">Enchancements</a>
        </nav>

        <div class="link_wrapper">
            <a href="https://github.com/DannyOCE/inquiry-project">
                <img src="images/github_logo.png" class="github_logo">
            </a>
        </div>
    </header>

    <!--

        Your code goes here!

    -->

    <footer>

        <p>
            Project completed by:
            <br><br>
            <strong>Adam Daniel Alister Sam G Sam S</strong>
        </p>

    </footer>

</body>

</html>