* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1A2431;
}

header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #253447;
    padding: 20px;
    border-bottom: 3px solid #83CD29;
}

.header_title {
    color: #83CD29;
}

.header_logo {
    width: 70px;
    height: auto;
}

.header_title_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

nav {
    flex: 2;
}

.link_wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #7A97BA;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.2s all;
    font-size: 1.3em;
    padding: 20px;
    border-bottom: 1px solid #7A97BA;
    border-top: 1px solid hsl(213, 32%, 60%);
}

#sub_head {
    font-size: 0.5em;
    padding: -15px;
    margin-top: 70px;
    margin-bottom: -50px;
}

#sub_head a {
    margin-right: -10px;
}

nav a:hover {
    color: #1F487E;
}

footer {
    margin-top: auto;
    background-color: #253447;
    padding: 30px;
}

footer p {
    color: white;
}

span {
    color: #7A97BA;
    font-size: 1.3em;
}

.github_logo {
    height: auto;
    width: 3em;
    transition: 0.2s all;
    border-radius: 3em;
    cursor: pointer;
}

.github_logo:hover {
    background-color: #83CD29;
}

#special {
    border: solid;
    color: white;
    background-color: #1A2431;
    font-weight: 700;
    text-align: center;
    padding: 30px 65px 85px 165px;
}

.title {
    color: #83CD29;
    font-weight: 600;
    width: 59%;
}

.title, .paragraph p, .images, #ryan_dahl, .table, #o_list {
    border: solid;
    padding: 10px;
    text-align: left;
    margin: auto;
}

.paragraph p {
    border: none;
    width: 59%;
}

aside {
    width: 30%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

#ryan_dahl {
    max-width: 750px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

.paragraph p, figcaption, caption, #o_list, .table {
    color: #7C97BA;
    font-weight: initial;
    font-size: larger;
}

.images {
    width: 59%;
}

figcaption {
    font-size: medium;
}

table th {
    font-weight: bold;
}

ul {list-style: none}

li::before {
    content: "•";
    color: goldenrod;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.pros {
    color: white;
    background-color: #212643;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 12px;
}

.mid {
    background-color: #212643;
}

.cons {
    color: white;
    background-color: #212643;
    text-align: center;
    font-weight: bold;
    border-top-right-radius: 12px;
}

.pros_points {
    border-bottom-left-radius: 12px;
}

.cons_points {
    border-bottom-right-radius: 12px;
}

.cons_points li {
    display: inline-block;
    vertical-align: top;
}

table li {
    padding: 0.2em;
}

.table {
    width: 59%;
}

.table table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table caption {
    padding-bottom: 0.3em;
}

table.roundedCorners, th, td {
    color: white;
    background-color: #343b67;
    font-weight: initial;
    border: none;
    padding: 0.5em;
}

#def_list {
    font-weight: initial;
    font-size: large;
    border: none;
    padding: 10px;
    padding-left: 15px;
    width: 59%;
    margin-left: 150px;
    margin: auto;
}

dl {
    border: none;
    background-color: #343b67;
    border-radius: 12px;
    padding: 0.5em;
}

dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    width: 120px;
    color: #2da6db;
}

dt::after {
    content: ":";
}

dd {
    color: white;
    margin: 0 0 0 130px;
    padding: 0 0 0.5em 0;
}

.table ul {
    margin-left: 1.5rem
}

#o_list {
    width: 59%;
}
ol {
    list-style: none;
    counter-reset: li}

#o_list li::before {
    content: counter(li);
    color: goldenrod;
    display: inline-block;
    width: 1em;
    margin-left: -1em}

li {counter-increment: li}

#o_list li {
    margin-left: 3rem;
    padding: 0.2rem;
}

footer strong {
    font-size:large;
}

a:link {
    color: #7A97BA;
}

a:visited {
    color: #7A97BA;
}

a:hover {
    color: #1F487E;
}

a:active {
    color: #343b67;
}