* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1A2431;
}

header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #253447;
    padding: 20px;
    border-bottom: 3px solid #83CD29;
}

.header_title {
    color: #83CD29;
}

.header_logo {
    width: 70px;
    height: auto;
}

.header_title_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

nav {
    flex: 2;
}

.link_wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #7A97BA;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.2s all;
    font-size: 1.3em;
    padding: 20px;
    border-bottom: 1px solid #7A97BA;
    border-top: 1px solid hsl(213, 32%, 60%);
}

nav a:hover {
    color: #1F487E;
}

footer {
    margin-top: auto;
    background-color: #253447;
    padding: 30px;
}

footer p {
    color: white;
}

span {
    color: #7A97BA;
    font-size: 1.3em;
}

.github_logo {
    height: auto;
    width: 3em;
    transition: 0.2s all;
    border-radius: 3em;
    cursor: pointer;
}

.github_logo:hover {
    background-color: #83CD29;
}