#sub_head {
    font-size: 1em;
    margin: 50px;
}

#sub_head a {
    margin-right: 10px;
}

#sub_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
}

#sub_head a {
    text-decoration: none;
    color: #7A97BA;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.2s all;
    font-size: 1.3em;
    padding: 20px;
    border-bottom: 1px solid #7A97BA;
    border-top: 1px solid hsl(213, 32%, 60%);
}

#sub_head a:hover {
    color: #1F487E;
}

#special {
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

.title {
    color: #83CD29;
    font-weight: 600;
    width: 59%;
}

.title,
.paragraph p,
.images,
#ryan_dahl,
.table,
#o_list {
    padding: 10px;
    text-align: left;
    margin: auto;
}

.paragraph p {
    border: none;
    width: 59%;
}

section.paragraph {
    width: 100%;
    margin: auto;
}

aside {
    width: 30%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #8adbf7;
    font-style: italic;
    color: #6baabe;
}

aside>p {
    margin: .5rem;
}

#ryan_dahl {
    max-width: 59%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.paragraph p,
figcaption,
caption,
#o_list,
.table {
    color: #7C97BA;
    font-weight: initial;
    font-size: larger;
}

.images {
    width: 59%;
}

figcaption {
    font-size: medium;
}

table th {
    font-weight: bold;
}

ul {
    list-style: none
}

li::before {
    content: "•";
    color: goldenrod;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.pros {
    color: white;
    background-color: #212643;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 12px;
}

.cons {
    color: white;
    background-color: #212643;
    text-align: center;
    font-weight: bold;
    border-top-right-radius: 12px;
}

.pros_points {
    border-bottom-left-radius: 12px;
}

.cons_points {
    border-bottom-right-radius: 12px;
}

.cons_points li {
    display: inline-block;
    vertical-align: top;
}

table li {
    padding: 0.2em;
}

.table {
    width: 59%;
    table-layout: auto;
}

.table table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table caption {
    padding-bottom: 0.3em;
}

table.roundedCorners,
th,
td {
    color: white;
    background-color: #343b67;
    font-weight: initial;
    border: none;
    padding: 0.5em;
}

#def_list {
    font-weight: initial;
    font-size: large;
    border: none;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 30px;
    width: 59%;
    margin: auto;
}

dl {
    border: none;
    background-color: #343b67;
    border-radius: 12px;
    padding: 0.5em;
}

dt {
    float: left;
    clear: left;
    text-align: right;
    width: 120px;
    color: #2da6db;
}

dt::after {
    content: ":";
}

dd {
    color: white;
    margin: 0 0 0 130px;
    padding: 0 0 0.5em 0;
}

.table ul {
    margin-left: 1.5rem
}

#o_list {
    width: 59%;
}

ol {
    list-style: none;
    counter-reset: li
}

#o_list li::before {
    content: counter(li);
    color: goldenrod;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

li {
    counter-increment: li
}

#o_list li {
    margin-left: 3rem;
    padding: 0.2rem;
}

footer strong {
    font-size: large;
}

a:link {
    color: #7A97BA;
}

a:visited {
    color: #7A97BA;
}

a:hover {
    color: #1F487E;
}

a:active {
    color: #343b67;
}

#o_list p {
    width: 100%;
    font-size: large;
    margin-left: -5px;
}